:root {
    --principal: #000000;
    --rojo: #FF0000;
    --amarillo: #FFFF00;
    --verde: #00FF00;
    --azul: #0000FF;
    --blanco: #FFFFFF;
    --rosa: #FF00FF;
    --naranja: #FFA500;
    --cian: #00FFFF;
    --violet: #8A2BE2;
    font-family: 'Roboto', sans-serif;
}

.navbar-expand-lg, .navbar-toggler, .nav-link {
    color: #666666;
}

.nav-link:hover {
    color: #000000;
}