<!-- <div class="logo__Auto">
    <h1>LaloSuperCar</h1>
    <img src="#" alt="Logo" class="logo__Auto-ima" id="imag">
</div> -->

<!-- <header class="header">
    <nav class="navbar">
        <div class="contenedor">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">LaloSuperCar</h1>
            </a>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a routerLink="modelos">Modelos</a></li>
                <li><a routerLink="servicio">Servicios</a></li>
                <li><a routerLink="#">Noticias</a></li>
                <li><a routerLink="#">Sobre Nosotros</a></li>
                <li><a routerLink="#">Contacto</a></li>
                <li><a routerLink="login">Iniciar Sesion</a></li>
                
                <li><a href="#">Cadena de parrafos</a></li>
            </ul>
        </div>
    </nav>
</header> -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #ffffff;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
                    loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="modelos">Modelos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="servicio">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">Contacto</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            
            <!-- Avatar -->
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="30"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" routerLink="login">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="register">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->