<div class="colorbarra">
    <h1>Conoce los modelos disponibles</h1>
</div>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    AÑADIR NUEVO AUTO
</button>

<table class="table">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="Nissan_Sentra" alt="Auto" width="230px" height="150px"></td>
            <td>Nissan Sentra</td>
            <td>220000</td>
            <td>Electrico</td>
        </tr>
    </tbody>
</table>

<!-- <main class="container">
    <div class="container_grid">
        <section class="contenedor">
            <a href="alumnos.html"><img class="icon-img" src="/IMG/Icons/Estudiante.png" alt="Auto"></a>
            <div class="contenedor">
                <h4>Nissan Sentra</h4>
                <h5>Precio:</h5>
                <h5>Tipo</h5>
            </div>
        </section>

        <section class="contenedor ">
            <a href="docentes.html"><img class="icon-img" src="/IMG/Icons/Profesor.png" alt="Auto"></a>
            <div class="contenedor">
                <h4>Auto</h4>
            </div>
        </section>

        <section class="contenedor">
            <a href="carreras.html"><img class="icon-img" src="/IMG/Icons/Carreras.png" alt="Auto"></a>
            <div class="contenedor">
                <h4>Auto</h4>
            </div>
        </section>

        <section class="contenedor ">
            <a href="materias.html"><img class="icon-img" src="/IMG/Icons/Materias.png" alt="Auto"></a>
            <div class="contenedor">
                <h4>Auto</h4>
            </div>
        </section>

        <section class="contenedor">
            <a href="horarios.html"><img class="icon-img" src="/IMG/Icons/Horario.png" alt="Auto"></a>
            <div class="contenedor">
                <h4>Auto</h4>
            </div>
        </section>

        <section class="contenedor">
            <a href="#"><img class="icon-img" src="/IMG/Icons/Aula.png" alt="Auto"></a>
            <div class="contenedor">
                <h4>Auto</h4>
            </div>
        </section>
    </div>
</main> -->

<!-- FORMULARIO -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="Nuevo" id="exampleModalLabel">Caracteristícas</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="nombre_modelo" class="form-control" />
                                <label class="form-label" for="nombre_modelo">Nombre del modelo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="number" id="año_carro" class="form-control" />
                                <label class="form-label" for="año_carro">Año</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="text" id="marca_carro" class="form-control" />
                                <label class="form-label" for="marca_carro">Marca</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="text" id="motor_carro" class="form-control" />
                                <label class="form-label" for="motor_carro">Motor</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="number" id="precio_carro" class="form-control" />
                                <label class="form-label" for="precio_carro">Precio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="number" id="num_llantas" class="form-control" />
                                <label class="form-label" for="num_llantas">Numero de llantas</label>
                            </div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="equipamiento_carro" class="form-control" />
                        <label class="form-label" for="equipamiento_carro">Equipamiento</label>
                    </div>
                    <br>
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="info_adicional" rows="4"></textarea>
                        <label class="form-label" for="info_adicional">Informacion adicional</label>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tipo_gasolina" />
                                <label class="form-check-label" for="tipo_gasolina">Gasolina</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tipo_electrico" />
                                <label class="form-check-label" for="tipo_electrico">Electrico</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tipo_estandar" />
                                <label class="form-check-label" for="tipo_estandar">Estándar</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="tipo_automatico" />
                                <label class="form-check-label" for="tipo_automatico">Automatico</label>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Subir</button>
            </div>
        </div>
    </div>
</div>