<!-- <h1 class="text">Conoce nuestros Modelos</h1>
<main class="cards">
    <h2>Chevroleet</h2>
    <section class="grid cards__Chev">
        <div class="cards__chev__Auto">
            <div class="ima">
                <img src="" alt="imag1" class="ima__style">
            </div>
            <div class="text">
                <p>Nombre</p>
                <p>Electrico</p>
                <p>Precio</p>
            </div>
        </div>

        <div class="cards__chev__Auto">
            <div class="ima">
                <img src="" alt="" class="ima__style">
            </div>
            <div class="text">
                <p>Nombre</p>
                <p>Electrico</p>
                <p>Precio</p>
            </div>
        </div>

    </section>

    <h2>Nissan</h2>

    <section class="grid cards__Nissan">
        <div class="cards__nissan__Auto">
            <h3>Nissan</h3>
        </div>
    </section>
</main> -->

<p>modelos works!</p>