<main>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Presentacion de Nuestros Servicios</h2>
        <div class="contendedor-sobre-nosotros">
            <div id="conteiner">
                <img [src]="S1" alt="" class="imagen-about-us">
            </div>

            <div class="contenido-texto">
                <h3><span>1</span>Nuestros Servicios</h3>
                <ul>
                    <li>Cambio de Aceite</li>
                    <li>Afinacion Completa</li>
                    <li>Revision y Cambio de Frenos</li>
                </ul>
                <br><br><br>
                <h3><span>2</span>Garantia</h3>
                <p></p><br>
                <h4>Para proteger tu inversión en los momentos que tengas que reparar o remplazar un componente del
                    vehículo que desarrolla una falla dentro del periodo de tiempo de garantías,
                    te ofrecemos una garantía competitiva la cual fortalece la reputación de Hyundai y las
                    promociones de ventas.</h4>
            </div>
        </div>
    </section>
    <section id="About">
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="titulo">SERVICIOS INTEGRALES</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img [src]="S7" alt="">
                        <div class="hover-galeria">
                            <p>Cambio de Aceite</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img [src]="S5" alt="">
                        <div class="hover-galeria">
                            <p>Afinacion Completa</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img [src]="S6" alt="">
                        <div class="hover-galeria">
                            <p>Revision y Cambio de Frenos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="#Services">
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img [src]="S1" alt="">
                        <h3>Proteccion de llantas</h3>
                        <p>Para la protección de llantas la cobertura de asistencia que aplica para modelos 2019,
                            2020, 2021, 2022, 2023 y 2024
                            facturados a partir del primero de septiembre de 2019 al treinta y uno de diciembre de
                            2023,
                            tiene una vigencia de cobertura de 5 años.
                        </p>
                    </div>
                    <div class="servicio-ind">
                        <img [src]="S2" alt="">
                        <h3>Asistencia en el Camino</h3>
                        <p>SContamos con varios servicios en el camino asi como servicios de grua, auxilio vial,
                            asesoria en caso de robo, orientacion telefonica
                            legal, taxi en carretera, renta de auto por averia, entre otros.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>