<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img [src]="Hyundai_Sonata" class="d-block w-100"
                    alt="Sunset Over the City" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img [src]="Nissan_Sentra" class="d-block w-100"
                    alt="Canyon at Nigh" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img [src]="Nissan_Sentra_2" class="d-block w-100"
                    alt="Cliff Above a Stormy Sea" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->

    <!--  <div class="carousel" id="head"></div> -->

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Sexo</th>
                <th>Fecha de Naciemiento</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="" alt="Auto" width="230px" height="150px"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <section class="nosotros" id="nosotros">
        <h2 class="noticias">Sobre Nosotros</h2>
        <p>"Apasionados por autos de alta gama. Experiencia única. Selección exclusiva. Calidad y rendimiento
            garantizados. Hacemos realidad tus sueños automotrices. Confía en LaloSuperCar."</p>
    </section>

    <main class="container">
        <h2 class="noticias">Nuevos Autos</h2>

        <div class="container__grid">  
            
                <section class="cards">
                    <div class="cards__tam">
                        <div class="cards__imag"><img class="cards___imag--tam" [src]="Hyundai_Sonata" alt="Imagen1"></div>
                        <div class="text">
                            <h2 class="noticias">Hyundai Sonata</h2>
                            <p>Elegancia y rendimiento combinados.</p>
                        </div>
                    </div>
                </section>
            
                <section class="cards">
                    <div class="cards__tam">
                        <div class="cards__imag"><img class="cards___imag--tam" [src]="Hyundai_Tucson" alt="Imagen1"></div>
                        <div class="text">
                            <h2 class="noticias">Hyundai Tucson</h2>
                            <p>Diseño moderno y tecnología avanzada.</p>
                        </div>
                    </div>
                </section>
            
                <section class="cards">
                    <div class="cards__tam">
                        <div class="cards__imag"><img class="cards___imag--tam" [src]="Nissan_Sentra_2" alt="Imagen1"></div>
                        <div class="text">
                            <h2 class="noticias">Nissan Sentra</h2>
                            <p> Estilo y eficiencia en un sedán compacto.</p>
                        </div>
                    </div>
                </section>
            
                <section class="cards">
                    <div class="cards__tam">
                        <div class="cards__imag"><img class="cards___imag--tam" [src]="Mazda_CX5" alt="Imagen1"></div>
                        <div class="text">
                            <h2 class="noticias">Mazda CX-5</h2>
                            <p>Potencia y sofisticación en un SUV compacto.</p>
                        </div>
                    </div>
                </section>
            
                <section class="cards">
                    <div class="cards__tam">
                        <div class="cards__imag"><img class="cards___imag--tam" src="https://hips.hearstapps.com/hmg-prod/images/2022-ford-mustang-shelby-gt500-02-1636734552.jpg?crop=0.845xw:1.00xh;0.0657xw,0&resize=640:*" alt="Imagen1"></div>
                        <div class="text">
                            <h2 class="noticias">Ford Mustang</h2>
                            <p>Potencia icónica y estilo inconfundible.</p>
                        </div>
                    </div>
                </section>
            
                <section class="cards">
                    <div class="cards__tam">
                        <div class="cards__imag"><img class="cards___imag--tam" [src]="Toyota_Carmy" alt="Imagen1"></div>
                        <div class="text">
                            <h2 class="noticias">Toyota Camry</h2>
                            <p>Elegancia y confiabilidad en un sedán de primera clase.</p>
                        </div>
                    </div>
                </section>
        </div>
    </main>

</body>
</html>