<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Direcciones
            </div>
            <form class="registrar-form">
                <div class="campo">
                    <label for="d-pais">Pais</label>
                    <input type="text" name="d-pais" id="d-pais" id="d-pais" placeholder="Pais">
                </div>
                <div class="campo">
                    <label for="d-ciudad">Ciudad</label>
                    <input type="text" name="d-ciudad" id="d-ciudad" placeholder="Ciudad">
                </div>
                <div class="campo">
                    <label for="d-calle">Calle</label>
                    <input type="text" name="d-calle" id="d-calle" placeholder="Calle">
                </div>
                <div class="campo">
                    <label for="d-numero">Numero de casa</label>
                    <input type="number" name="d-numero" id="d-numero" placeholder="Numero de casa">
                </div>
                <div class="campo">
                    <button type="submit" title="d-ingresar" name="d-ingresar" id="d-ingresar" routerLink="">Registrar</button>
                </div>
            </form>
        </div>
        <div class="inf">
            <a href="index.html">Regresar</a>
        </div>
    </div>
</div>
